.message {
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  line-height: 20px;
}

.message-success {
  background-color: rgb(92, 184, 92);
}

.message-info {
  background-color: rgb(49, 176, 213);
}

.message-error {
  background-color: rgb(217, 83, 79);
}
